INFLUXDB_ADMIN_USER=root
INFLUXDB_ADMIN_PASSWORD=root
INFLUXDB_USER=
INFLUXDB_USER_PASSWORD=
INFLUXDB_STORAGE_PATH=./influxdb
GRAFANA_SECURITY_ADMIN_PASSWORD=radar
GRAFANA_SERVER_ROOT_URL=http://10.200.107.10/grafana/