INFLUXDB_ADMIN_USER=root
INFLUXDB_ADMIN_PASSWORD=root
INFLUXDB_USER=radar
INFLUXDB_USER_PASSWORD=radar
INFLUXDB_STORAGE_PATH=./influxdb
GRAFANA_SECURITY_ADMIN_PASSWORD=radar
GRAFANA_SERVER_ROOT_URL=http://10.200.107.10/grafana/
GF_INSTALL_PLUGINS=grafana-clock-panel